{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0" style="border-radius: 15px;">
                <div class="card-header bg-dark text-white text-center" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <h4 class="my-2">Login to Your Account</h4>
                </div>
                <div class="card-body p-4">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="text-danger">{{ form.username.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {% if form.password.errors %}
                                <div class="text-danger">{{ form.password.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary mt-2">Login</button>
                        </div>
                    </form>

                    <div class="text-center mt-3">
                        <p class="mb-0">Don't have an account?</p>
                        <a class="btn btn-outline-secondary mt-2" href="{% url 'register' %}">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
