{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">RF</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class='' id="navbarNav">
                <ul class="navbar-nav ms-auto">
                   {% if user.is_authenticated %}
                        <li class="nav-item"> 
                          <a class="nav-link text-light" href="{% url 'room_add' %}">Add Room</a>
                        </li>
                          <a class="nav-link text-light" href="{%url 'bookings' %}">Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarProfileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://ui-avatars.com/api/?name={{ user.get_full_name|default:user.username }}&background=343a40&color=fff&size=32"
                            alt="Avatar" class="rounded-circle me-2" style="width: 32px; height: 32px;">
                        <span>{{ user.username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarProfileDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                        </li>
                        {% else %}
                        <li class="nav-item"> 
                          <a class="nav-link text-light " href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'about' %}">About</a>
                        </li>
                    {% endif %} 
                </ul>
            </div>
        </div>
    </nav>

<style>
     body {
            padding-top: 80px; /* Adjust based on navbar height */
  }
</style>

<style>
        html, body {
            height: 100%;
             display: flex;
            flex-direction: column;
            min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
            margin: 0;
        }
        .site-wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }
        .content-wrap {
            flex: 1;
        }

        .content {
            flex: 1;
        }
    </style>


    <!-- Main Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


 <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


    {% block extra_js %}
    {% endblock %}
</body>
{% include "footer.html" %}

</html>
