  {% load static %}
<html>
<head>
  <title>Room Finder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <h1><a href="{% url 'room_list' %}">Room Finder</a></h1>
  {% if user.is_authenticated %}
    Hello, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Sign Up</a>
  {% endif %}
  {% block content %}{% endblock %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</body>
</html>
