{% extends 'base.html' %}
{% block title %}BOOKINGS{% endblock %}
{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="{% url "home" %}" class='btn btn-dark'>Back</a>
</div>
<div class="container mt-1">
  <h2 class="mb-4">BOOKINGS</h2>

  {% if bookings %}
    <div class="row">
      {% for booking in bookings %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <a href="{% url 'booking_detail' booking.pk %}">
              <img src="{{ booking.room.image.url }}" class="card-img-top" alt="Room Image" style="height: 200px; object-fit: cover;">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ booking.room.title }}</h5>
              <p class="card-text"><span class='text-primary fw-semibold'>{{ booking.room.location }}</span></p>
              <p class="card-text"><span class='text-success fw-semibold'>Rs.{{ booking.room.price }}</span></p>
              <a href="{% url 'booking_detail' booking.pk %}" class="btn btn-outline-primary btn-sm">View Room</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>You haven't booked any rooms yet.</p>
  {% endif %}
</div>

<!-- Pagination -->
 <nav aria-label="Page navigation" class="mt-4">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ query }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        {% if page_obj.number == num %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}&q={{ query }}">{{ num }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ query }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav> 
{% endblock %}
